<!DOCTYPE html>

<html lang="en">
<head>
    <title>LTH Medical Care</title>
    <meta charshet="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="~/Content/teststyle2.css" rel="stylesheet" />

</head>
<body>
    <div style="color:white">
        @RenderSection("something", required: false)
        @RenderBody()
    </div>
    <div class="header">
        <div class="container" id="myHeader">
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index","ABC")">Home <i class="fa fa-heartbeat" aria-hidden="true"></i></a></li>
                    <li><a href="@Url.Action("ProductAll","ABC",new { id = "1" })">Products <i class="fa fa-id-badge" aria-hidden="true"></i></a></li>
                    <li><a href="@Url.Action("Corporate","ABC")">Corporate <i class="fa fa-handshake-o" aria-hidden="true"></i></a></li>
                    <li><a href="@Url.Action("Contact","ABC")">Contact <i class="fa fa-address-card-o" aria-hidden="true"></i></a></li>
                    <li>
                        @using (Html.BeginForm("Search", "ABC"))
                        {
                            <div class="input-group input-group-lg" style="padding: 25px 50px;display: flex;">
                                <input name="search" type="text" class="form-control-lg" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Medical you li..." style="box-sizing: border-box; margin: 0; font-family: inherit; overflow: visible; display: block; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; padding: .25rem .5rem; font-size: .875rem; line-height: 1.5; border-radius: .2rem; position: relative; flex: 1 1 auto; width: 100%; margin-bottom: 0; border-top-right-radius: 0; border-bottom-right-radius: 0;">

                                <button type="submit" class="btn btn-secondary btn-number" style="box-sizing: border-box; margin: 0; font-family: inherit; overflow: visible; text-transform: none; display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid transparent; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: #fff; background-color: #6c757d; border-color: #6c757d; position: relative; z-index: 2; padding: .25rem .5rem; font-size: .875rem; line-height: 1.5; border-radius: .2rem; cursor: pointer; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                    <i class="fa fa-search"></i>
                                </button>

                            </div>
                        }
                    </li>
                    @{
                        if (Session["username"] == null)
                        {
                            <li><a href="@Url.Action("login","Man")">Login <i class="fa fa-sign-in"></i></a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("logout","Man")">Logout <i class="fa fa-sign-out"></i></a></li>
                        }
                    }
                    @Html.Action("CartPartial", "Cart")
                </ul>
            </nav>
        </div>
    </div>

</body>
</html>