@using DoAnChuyenNganh.Models;
@model List<Cart>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutABC1.cshtml";
}

<h2 style="text-align:center"><br /><br /><br />Supply Details</h2>
<table align="center" border="1">
    <tr style="text-align:center;font-weight:bold">
        <td>Id Product</td>
        <td>Name Product</td>
        <td>Image</td>
        <td>Count</td>
        <td>Unit Price</td>
        <td>Price</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center;font-weight:bold;">
            <td>@item.iidpro</td>
            <td>@item.snamepro</td>
            <td><img src="~/Images/@item.simage" width="350" height="200" /></td>
            @using (Html.BeginForm("UpdateCart", "Cart", new { @iidsp = item.iidpro }))
            {
                <td>
                    <input type="number" min="1" name="txtcount" value="@item.icount" style="text-align:center;max-width:50px" />
                </td>
                <td>@String.Format("{0:0,0}", item.dprice)</td>
                <td>@String.Format("{0:0,0}", item.dintoprice)</td>
            }
        </tr>
    }
    <tr style="font-weight:bold;text-align:right;color:red;text-align:center">
        <td colspan="3">Total Product : @ViewBag.totalcount</td>
        <td colspan="3">Total Price : @String.Format("{0:0,0}", ViewBag.totalprice)VNĐ</td>
    </tr>
    <tr style="font-weight:bold;text-align:right;color:red;text-align:center">
        <td colspan="6">@Html.ActionLink("Back to Cart", "Cart", "Cart")</td>
    </tr>
</table>
<h2 style="text-align:center">Order Details</h2>
@{
    Man m = (Man)Session["Username"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Customer Name</td>
            <td style="font-weight:bold">@m.name</td>
        </tr>
        <tr style="height:40px">
            <td>Address</td>
            <td style="font-weight:bold">@m.address</td>
        </tr>

        <tr style="height:40px">
            <td>Phone</td>
            <td style="font-weight:bold">@m.phone</td>
        </tr>
        <tr style="height:40px">
            <td>Date in</td>
            <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr style="height:40px">
            <td>Date out</td>
            <td style="font-weight:bold">
                <input type="date" name="Dateout" />
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Accept Order" />
            </td>
        </tr>
    }
</table>
<div>
<div id="paypal-button" style="text-align:center"></div>
    <div type="hidden" id="vnd_to_usd" ></div>

</div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
        sandbox: 'AZp6hUVPsJIRitDkoN_m6Rfn1qz5ZjeMY7gNZ0Q8_hzeDjs1I-yELagsEnrnk24igUaqRpAp5jFPwKLn',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'small',
      color: 'gold',
      shape: 'pill',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '0.01',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.alert('Thank you for your purchase!');
      });
    }
  }, '#paypal-button');

</script>
